.hidden-featured {
	overflow-x: hidden;
}
.parrent-featured {
	position: relative;
}
.featured {
	/* width : 100% when join to indexhtml &*/
	width: 100%;
	font-size: 16px;
	height: 540px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.featured .title {
	font-size: 1.5rem;
}

.featured .description {
	font-size: 1.2rem;
	height: 15%;
	width: 50%;
	color: #333;
}
.featured .list-items {
	position: relative;
	height: 100%;
	width: calc(100% * 2);
	display: flex;
	flex-direction : row;
	padding: 0;
	left: 0;
}

.featured .list-items > a:visited {
	color: black;
}

.featured .list-items .item {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width : calc(100% / 6);
	text-decoration : none;
	padding: 10px;
	/*box-sizing: border-box;*/
}

.featured .list-items .item .avatar {
	overflow: hidden;
	border-radius : 10px;
	/*flex-grow: 1;*/
	/*background-color: yellow;*/
	position: relative;
	height : 100%;
}

.featured .list-items .item .avatar img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	position : absolute;
}

.featured .list-items .item .avatar ~ * {
	margin-top: 0.5rem;
}

.featured > a {
	margin-top: 2rem;
	display: flex;
}


.featured .left-button, .featured .right-button {
	width: 30px;
	height: 30px;
	text-align: center;
	box-shadow: 1px 1px 3px rgba(0,0,0,.7);
	background-color: white;
	position: absolute;
	top: 45%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border : none;
	outline: none;
}

.featured .left-button {
	left : -5px;
	display: none;
}

.featured .right-button {
	right: -5px;
}