
.featured {
	/* width : 100% when join to indexhtml &*/
	width: 100%;
	font-size: 16px;
	height: 489px;
	display: flex;
	flex-direction: column;
	/*background-color: red;*/
	position: relative;
	overflow-x: hidden;
	padding: 0 5px;
	box-sizing: border-box;
}

.featured > * {
	/*border : 1px solid blue;*/
}

.featured .title {
	font-size: 1.5rem;
}

.featured .description {
	font-size: 1.2rem;
	height: 15%;
	width: 50%;
	color: #333;
}
.featured .list-items {
	position: relative;
	height: 100%;
	width: calc(100% * 2);
	/*flex-grow: 1;*/
	display: flex;
	/*flex-wrap: wrap;*/
	flex-direction : row;
	padding: 0;
	left: 0;
}

.featured .list-items > a:visited {
	color: black;
}

.featured .list-items .item {
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-sizing: border-box;
	width : calc(100% / 6);
	text-decoration : none;
	/*background-color : blue;*/
}

.featured .list-items .item .avatar {
	overflow: hidden;
	border-radius : 10px;
	/*flex-grow: 1;*/
	/*background-color: yellow;*/
	position: relative;
	height : 100%;
}

.featured .list-items .item .avatar img {
	height: 100%;
	border-radius: 10px;
	position : absolute;
}

.featured .list-items .item .avatar ~ * {
	margin-top: 0.5rem;
}

.featured > a {
	margin-top: 2rem;
	display: flex;
}


.featured .left-button, .featured .right-button {
	width: 30px;
	height: 30px;
	background-color: rgba(0,255,0,1);
	position: absolute;
	top: 45%;
	border-radius: 50%;
	cursor: pointer;
}

.featured .left-button {
	left : -1px;
	display: none;
}

.featured .right-button {
	right: 4px;
}