/*Header*/
header {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image : url('/images/bg.jpg');
	background-position: center;
	background-size : cover;
}
/*Header - Topbar*/
.topbar {
	/*border: 1px solid red;*/
	height: 4rem;
	display: flex;
	flex-direction: row;
}

.logo {
	height: 100%;
	width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

header .topbar .menu {
	height: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;
}

header .topbar .menu > a {
	font-family: Arial;
	/*font-weight: inherit;*/
	display: flex;
	color: white;
	text-decoration: none;
	align-items: center;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	border-bottom: 1px solid transparent;
	transition: 1s border-bottom;
}

header .topbar .menu > a:hover {
	border-bottom: 1px solid white;
}

header .topbar .menu > a:nth-child(1) svg{
	margin-right: 5px;
	transform: scale(.8);
}


/*CSS form book*/
.bookform {
	color: rgb(72,72,72);
	box-sizing: border-box;
	font-family: "Varela Round";
	padding: 1rem 2rem;
	background-color: white;
	width: 441px;
	height: 475px;
	position: absolute;
	top : 120px;
	left: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bookform > *{
	margin : auto 0;
}

.bookform > .where-div, .bookform > .guests-div {
	display: flex;
	flex-direction: column;
}

.bookform > * > *{
	margin: 0.2rem 0;
}

.bookform input, .bookform .checklist-guests > input[type="checkbox"]
{
	border : none;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom:  1px solid rgba(0,0,0,.1);
	height: 3rem;
	outline: none;
}

.bookform input{
	padding: 0 10px;
	font-size: 14px;
}

.bookform input:focus {
	border : 1px solid rgb(0,132,137);
	box-shadow: 0 0 1px rgb(0,132,137);
	border-radius: 5px;
}

.bookform .check-in-input:focus,.bookform .check-out-input:focus {
	border-radius: 0;
}	

.bookform .check-div > div{
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.bookform .check-div > div > * {
	flex-grow : 1;
}

.bookform .search-button {
	margin-left : auto;
	width: 25%;
	padding: 15px;
	cursor: pointer;
	background-color: #ff5a5f;
	border : none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px;
}

.bookform .checklist-guests {
	position: relative;
}
.bookform .checklist-guests > input[type="checkbox"]{
	-webkit-appearance : none;
	appearance : none;
	background-color: transparent;
	cursor: pointer;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-radius: 0px;
}

.bookform .checklist-guests > input[type="checkbox"]:checked + i{
	transform: rotate(180deg) translateY(50%);
}

.bookform .checklist-guests > input[type="checkbox"]:checked ~ .items {
	display: block;
}

.bookform .checklist-guests > input[type="checkbox"]::before {
	content: 'guests';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.bookform .checklist-guests  i {
	position : absolute;
	right: 0px;
	top: 50%;
	pointer-events: none;
	transform: translateY(-50%);
}

.bookform .checklist-guests > input[type="checkbox"]{
	position: relative;
}

header .info {
	position : absolute;
	bottom : 20px;
	right: 50px;
	color: white;
	text-decoration: none;
}

header .info:hover {
	text-decoration: underline;
}

.bookform .checklist-guests * {
	transition: .3s all;
}

.bookform .checklist-guests .items {
	border: 1px solid rgba(0,0,0,.2);
	position: absolute;
	top: 95%;
	left : 3px;
	width: 100%;
	border-top: none;
	background-color: white;
	display: none;
	transition: .3s all;
}



.backgroundPopup {
	font-family: "Varela Round";
	top: 0;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,.7);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
}

.backgroundPopup .menu {
	box-sizing: border-box;
	padding: 20px;
	background-color: white;
	height: 100px;
	width: 1032px;
	border-radius : 10px 10px 0 0;
}

.backgroundPopup .menu .close ~ * {
	margin-top: 10px;
	display: block;
}

.backgroundPopup .menu .close {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom : 1px solid rgba(0,0,0,.4);

}

.backgroundPopup .menu .close span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	font-size: 3rem;
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	cursor: pointer;
}


.backgroundPopup .menu .close span:hover {
	background-color: #EEE;
}




.languages-form {
	width: 1032px;
	height: 60%;
	background-color: white;
}

.languages-form .languages {
	display: flex;
	flex-wrap: wrap;
	overflow-y : scroll;
	padding: 0px 20px;
	height: 100%;
}


.languages-form .languages .language {
	width: calc(100% / 5);
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-sizing: border-box;
	margin-top: 10px;
	padding: 10px 20px;
}

.languages-form .languages .language:nth-child(1){
	border: 1px solid black;
} 

.languages-form .languages .language span:nth-child(2){
	font-size: 14px;
	color: rgba(1,1,1,.7);
}