@import url('./header.css');
@import url('./explore.css');
@import url('./plusplaces.css');
@import url('./introducing.css');
@import url('./featured.css');
@import url('./footer.css');
@import url('./reset.css');
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main {
	width: 1600px;
	display : flex;
	flex-direction: column;
	align-items: center;
}

main > .explore ~ * {
	margin-top: 2rem;
}