<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/explore.css">
</head>
<body>
	<main>
		<div class="explore">
			<h2>Explore Airbnb</h2>
			<div class="explore-items">
				<div class="explore-item">
					<div class="cover">
						<img src="/images/explore1.webp">
					</div>
					<h3>item 1</h3>
				</div>
				<div class="explore-item">
					<div class="cover">
						<img src="/images/explore2.webp">
					</div>
					<h3>item 2</h3>
				</div>
				<div class="explore-item">
					<div class="cover">
						<img src="/images/explore3.webp">
					</div>
					<h3>item 3</h3>
				</div>
			</div>
		</div>
	</main>
</body>
</html>