<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="/css/featured.css">
</head>
<body>
	<div class="featured">
		<div class="title">
			Featured Airbnb Plus destinations
		</div>
		<div class="description">
			Browse beautiful places to stay with all the comforts of home, plus more.
		</div>
		<div class="list-items">
			<a href="#" class="item">
				<div class="avatar">
					<img src="/images/intro1.jpg">
				</div>
				<div class="count">220+ VERIFIED STAYS</div>
				<div class="location">Explore Chicago's stunning architecture from the inside-in homes verified for quality and design</div>
			</a>
			<a href="#" class="item">
				<div class="avatar">
					<!-- /<img src="/images/intro1.jpg"> -->
				</div>
				<div class="count">220+ VERIFIED STAYS</div>
				<div class="location">Explore Chicago's stunning architecture from the inside-in homes verified for quality and design</div>
			</a>
			<a href="#" class="item">
				<div class="avatar">
					<!-- <img src="/images/intro1.jpg"> -->
				</div>
				<div class="count">220+ VERIFIED STAYS</div>
				<div class="location">Explore Chicago's stunning architecture from the inside-in homes verified for quality and design</div>
			</a>
		</div>
		<a href="#"> 
			Show all adventures
			<svg aria-hidden="true" role="presentation" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4;"><g fill="none"><path d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"></path></g></svg>
		</a>
	</div>
</body>
</html>