<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="/css/featured.css">
</head>
<body>
	<div class="featured">
		<div class="title">
			Featured Airbnb Plus destinations
		</div>
		<div class="description">
			Browse beautiful places to stay with all the comforts of home, plus more.
		</div>
		<div class="list-items">
			<a href="#" class="item">
				<div class="avatar">
					<img src="https://a0.muscache.com/4ea/air/v2/pictures/7a766443-e3d8-486d-b838-f9e4bc2ee863.jpg?t=r:w654-h400-sfit,e:fjpg-c90">
				</div>
				<div class="count">220+ VERIFIED STAYS</div>
				<div class="location">Explore Chicago's stunning architecture from the inside-in homes verified for quality and design</div>
			</a>
			<a href="#" class="item">
				<div class="avatar">
					<img src="https://a0.muscache.com/4ea/air/v2/pictures/f8a4fb07-d915-48db-8eae-9808b3929fc8.jpg?t=r:w654-h400-sfit,e:fjpg-c90">
				</div>
				<div class="count">220+ VERIFIED STAYS</div>
				<div class="location">Explore Chicago's stunning architecture from the inside-in homes verified for quality and design</div>
			</a>
			<a href="#" class="item">
				<div class="avatar">
					<img src="https://a0.muscache.com/4ea/air/v2/pictures/77afb255-b64f-4259-95b7-9ab2e0b29ddc.jpg?t=r:w654-h400-sfit,e:fjpg-c90">
				</div>
				<div class="count">220+ VERIFIED STAYS</div>
				<div class="location">Explore Chicago's stunning architecture from the inside-in homes verified for quality and design</div>
			</a>
			<a href="#" class="item">
				<div class="avatar">
					<img src="https://a0.muscache.com/4ea/air/v2/pictures/a728b050-9512-48a7-ab9c-858e9b291cc0.jpg?t=r:w654-h400-sfit,e:fjpg-c90">
				</div>
				<div class="count">220+ VERIFIED STAYS</div>
				<div class="location">Explore Chicago's stunning architecture from the inside-in homes verified for quality and design</div>
			</a>
			<a href="#" class="item">
				<div class="avatar">
					<img src="https://a0.muscache.com/4ea/air/v2/pictures/f33f1192-b3af-47bf-9002-aa00b6286f3d.jpg?t=r:w654-h400-sfit,e:fjpg-c90">
				</div>
				<div class="count">220+ VERIFIED STAYS</div>
				<div class="location">Explore Chicago's stunning architecture from the inside-in homes verified for quality and design</div>
			</a>
			<a href="#" class="item">
				<div class="avatar">
					<img src="https://a0.muscache.com/4ea/air/v2/pictures/b3f52881-e642-4868-b873-e4cc0f23234b.jpg?t=r:w654-h400-sfit,e:fjpg-c90">
				</div>
				<div class="count">220+ VERIFIED STAYS</div>
				<div class="location">Explore Chicago's stunning architecture from the inside-in homes verified for quality and design</div>
			</a>
		</div>
		<a href="#"> 
			Show more Airbnb Plus destinations
			<svg aria-hidden="true" role="presentation" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4;"><g fill="none"><path d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"></path></g></svg>
		</a>
	</div>
</body>
</html>