<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="/css/introducing.css">
</head>
<body>
	<div class="introducing">
		<div class="title">
			Introducing Airbnb Adventures
		</div>
		<div class="description">
			Multi-day trips led by local experts—activities, meals, and stays included.
		</div>
		<div class="list-items">
			<a href="#" class="item">
				<div class="avatar"><img src="/images/intro1.jpg"></div>
				<div class="destination">MOROCCO</div>
				<div class="location">AtlasMountains Experience</div>
				<div class="price">Form $96/person - 2 days</div>
			</a>
			<a href="#" class="item">
				<div class="avatar"><img src="/images/intro4.jpg"></div>
				<div class="destination">MOROCCO</div>
				<div class="location">AtlasMountains Experience</div>
				<div class="price">Form $96/person - 2 days</div>
			</a>
			<a href="#" class="item">
				<div class="avatar"><img src="/images/intro3.jpg"></div>
				<div class="destination">MOROCCO</div>
				<div class="location">AtlasMountains Experience</div>
				<div class="price">Form $96/person - 2 days</div>
			</a>
			<a href="#" class="item">
				<div class="avatar"><img src="/images/intro4.jpg"></div>
				<div class="destination">MOROCCO</div>
				<div class="location">AtlasMountains Experience</div>
				<div class="price">Form $96/person - 2 days</div>
			</a>
			<a href="#" class="item">
				<div class="avatar"><img src="/images/intro4.jpg"></div>
				<div class="destination">MOROCCO</div>
				<div class="location">AtlasMountains Experience</div>
				<div class="price">Form $96/person - 2 days</div>
			</a>
			<a href="#" class="item">
				<div class="avatar"><img src="/images/intro3.jpg"></div>
				<div class="destination">MOROCCO</div>
				<div class="location">AtlasMountains Experience</div>
				<div class="price">Form $96/person - 2 days</div>
			</a>
			<!-- <div class="item">
				<img src="/images/intro5.webp">
			</div>
			<div class="item">
				<img src="/images/intro6.jpg">
			</div> -->
		</div>
		<a href="#"> 
			Show all adventures
			<svg aria-hidden="true" role="presentation" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 4;"><g fill="none"><path d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"></path></g></svg>
		</a>
	</div>
</body>
</html>